body {
	margin: 0;
	line-height: 1;
	font-size: 14px;
	font-family: 'arial',sans-serif;
	background: url(./img/background.jpg) repeat;
}
p {
    margin: 0;
}
a:hover{
	background-color:#808080;
	transition: 750ms ease-out;
}
.logo {
	height: 110px;
	width: 114px;
	background: url(./img/logo.png);
	position: relative;
    left: -500px;
	/*display: inline-block;
    transform: translate(480%,0);
	transition: 1s ease-in;*/
	-webkit-animation-name: logo;
	-webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
}
@-webkit-keyframes logo { 
to {
	-webkit-transform: translate(580px,0); } 
}
.header {
	background: url(./img/header.jpg) no-repeat center;
	height:116px;
	padding-top:9px;
}
.header-cabinet {
	float:right;
	font-size:14px;
	color:#ff0000;
}
.header-description {
	font-size:14px;
	color:#fff
}
.search {
	width: 615px;
	height: 36px;
	margin: 14px 0 9px;
}
.search-field {
	height: 32px;
	width: 535px;
	color:#808080;
	font-size: 14px;
	padding-left:13px;
	border: none;
}
.search-button {
	background:url(./img/search.png) no-repeat;
	width:67px;
	height: 34px;
	position: relative;
	float: right;
}
.top-link {
	display: inline-block;
	font-size:14px;
	color:#fff;
	text-decoration:none;
	border-bottom:1px solid #808080;
	padding-bottom:2px;
}
.number {
	font-size:28px;
	font-weight:900;
	color:#fff;
	margin: 9px 0px;
}
.city {
	font-size:12px;
	color:#7f7f7f;
	margin-bottom: 5px;
}
.mymenu {
	background:#fff;
	line-height:37px;
	font-size:12px;
	font-weight:800;
	border-color: rgba(0,0,0,0.1);
	border-collapse: collapse;
}
.menu-row {
	padding-left:22px;
	color: black;
	text-decoration:none;
	text-transform: uppercase;
}
.arrow{
	margin: 10px 10px 0 0;
	float: right;
}
.text {
	font-size:14px;
	line-height:130%;
	padding-left: 32px;
	padding-top: 10px;
}
.main-text {
	text-align:justify;
	font-size: 16px;
	padding-bottom:10px;
}
.urls{
	padding-bottom:10px;
	color:#000;
}
#basket {
    right: 17%;
    margin: -24px auto;
    width: 388px;
    height: 50px;
    bottom: 0;
    position: fixed;
    background: #ff2030;
}
#basket-text {
	padding: 5px;
	color:white;
	display:block;
	text-align:center;
}